# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit Secrets
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/